<html>
<head>
<title>商品列表</title>
</head>
<body>
<h2>商品列表</h2>
<div th:unless="${#lists.isEmpty(products)}">
<dl th:each="product : ${products}">
<dt>
<span th:text="${product.name}">名称</span> 单位
<span th:text="${product.unit}">单位</span>
</dt>
</dl>
</div>
<div th:if="${#lists.isEmpty(products)}">
<p>商品列表为空</p>
</div>
<hr/>
<h3>添加商品</h3>
<form method="POST">
<label for="名称">名称:</label>
<input type="text" name="name" size="50"></input><br/>
<label for="单位">单位:</label>
<input type="text" name="unit" size="50"></input><br/>
<input type="submit"></input>
</form>
</body>
</html>